thread = 8
logger = "loggerS" -- 日志服务名
logservice = "snlua"
logpath = "./log/"	-- 日志路径
loggroup = "debug"	-- 日志组名
harbor = 0
start = "main"
bootstrap = "snlua bootstrap"	-- The service for bootstrap
luaservice = "./script/?.lua;./service/?.lua;./script/service/?.lua;./script/tools/?.lua"
lualoader = "lualib/loader.lua"
preload = "./script/preload.lua"  -- 预加载脚本，在每个服务启动前执行
cpath = "./cservice/?.so"
snax = "./examples/?.lua;"
enablessl = true
certfile = "./cert/server.crt"
keyfile = "./cert/server.key"
max_connection = 8192